<div class="container">
	<img id="bookImg" class="rounded float-left" alt="책이미지">
	<div class="row">
		<div class="col-sm-4">제목</div>
		<div class="col-sm-8" id="bookTitle"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">ISBN</div>
		<div class="col-sm-8" id="bookISBN"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">저자</div>
		<div class="col-sm-8" id="bookAuthors"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">출판사</div>
		<div class="col-sm-8" id="bookPublisher"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">출판일</div>
		<div class="col-sm-8" id="bookDatetime"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">정가/판매가</div>
		<div class="col-sm-8" id="bookPrice"></div>
	</div>
	<div class="row">
		<div class="col-sm-4">소개</div>
		<div class="col-sm-8" id="bookContents"></div>
	</div>
</div>